<section id="signUpform">
      <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a href="/customer/menu">Menu</a>
        <h1> Food Van App</h1>
    </div>
    <h1> SignUp</h1>
    <form method="post" action="/vendor/signup">
        <table align="center" >
          <tr>
            <td>Email:</td>
            <td> <input type = 'text' placeholder="username" name='email' id='email' value=""/></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input placeholder="***************" type="password" name='password' id='password' value=""/></td>
          </tr>
          <tr>
            <td colspan="2"><center><input type="submit" value="Submit"></center></td>
          </tr>
        </table>

    </form>

</section>